<select type="text" id="{{uiID}}" class="form-control sp-lookup" 
    name="{{@root.name}}.{{Title}}" 
    data-entity="{{EntityPropertyName}}Id" 
    data-owner="{{@root.name}}" 
    data-name="{{Title}}Id"
    data-readOnly = "{{readOnly}}" 
    data-selectname="{{EntityPropertyName}}" 
    aria-describedby="{{Title}}Help"
    placeholder="Enter {{Title}}" 
    data-defaultvalue="{{DefaultValue}}" 
    {{#if Required}} required {{/if}} 
    {{#if hasDropDownRelationship}}
        data-child="{{dropDownRelationship.child}}" 
        data-lookupfield="{{dropDownRelationship.lookupField}}" 
    {{/if}}
>
    <option value="">Please Select {{replace Title '/_/' ' '}}</option>
    {{#LookupData.results}}
        <option value="{{Id}}">{{lookupText}}</option>
    {{/LookupData.results}}
</select>