<a
  data-owner="{{pager.id}}"
  data-cmd="snap_left"
  name="btnScrollSnapLeft"
  id="{{pager.id}}_btnScrollSnapLeft"
  class="iris-pager-nav iris-pager-nav-btn"
  style=""
  title="Snap Table Left"
>
  <i class="mdi mdi-format-horizontal-align-left"></i>
</a>
<a
  data-owner="{{pager.id}}"
  data-cmd="first"
  name="btnPageFirst"
  id="{{pager.id}}_btnPageFirst"
  class="iris-pager-nav iris-pager-nav-btn"
  style=""
  title="First Page"
  {{{iGlobal.pager.btnFirst}}}
>
  <i class="mdi mdi-page-first"></i>
</a>
<a
  data-owner="{{pager.id}}"
  data-cmd="previous"
  name="btnPagePrev"
  id="{{pager.id}}_btnPagePrev"
  class="iris-pager-nav iris-pager-nav-btn"
  style=""
  title="Previous Page"
  {{{iGlobal.pager.btnPrev}}}
>
  <i class="mdi mdi-chevron-left"></i>
</a>
<a
  data-owner="{{pager.id}}"
  data-cmd="next"
  name="btnPageNext"
  id="{{pager.id}}_btnPageNext"
  class="iris-pager-nav iris-pager-nav-btn"
  style=""
  title="Next Page"
  {{{iGlobal.pager.btnNext}}}
>
  <i class="mdi mdi-chevron-right"></i>
</a>
<a
  data-owner="{{pager.id}}"
  data-cmd="last"
  name="btnPageLast"
  id="{{pager.id}}_btnPageLast"
  class="iris-pager-nav iris-pager-nav-btn"
  style=""
  title="Last Page"
  {{{iGlobal.pager.btnLast}}}
>
  <i class="mdi mdi-page-last"></i>
</a>
<a
  data-owner="{{pager.id}}"
  data-cmd="snap_right"
  name="btnScrollSnapRight"
  id="{{pager.id}}_btnScrollSnapRight"
  class="iris-pager-nav"
  style=""
  title="Snap Table Right"
>
  <i class="mdi mdi-format-horizontal-align-right"></i>
</a>