<ul class="list-anchors" id="list-anchor-items-{{name}}">
    {{#actions}}
        <li class="list-anchor-items">
            <a class="{{classes}}" id="{{id}}" href="{{href}}" {{{attributes}}}> {{{i}}} {{title}}</a>
        </li>
    {{/actions}}
</ul>