<div class="form col-md-12 form-container" id="form-{{formType}}-{{name}}" data-source="{{name}}" data-formtype="{{formType}}" data-basetemplate="{{baseTemplate}}">
    <input type="hidden" name="{{@root.name}}.ID" data-name="ID" />
    <h2>You are about to delete an item. Continue?</h2>
    <button type="button" class="btn btn-primary delete-data" data-source="{{name}}" data-sptype="{{title}}" data-caller="form-{{formType}}-{{name}}" data-action="Delete">Delete</button>
</div>