
{{#switch formType}} 
    {{#case "create"}} {{setVar "formType" "create"}} {{/case}} 
    {{#case "view"}} {{setVar "formType" "view"}} {{setVar "hasID" true}} {{/case}} 
    {{#case "edit"}} {{setVar "formType" "edit"}} {{setVar "hasID" true}} {{/case}} 
    {{#default}} {{setVar "formType" "create"}} {{/default}} 
{{/switch}}

<div class="form row form-container" 
    id="form-{{formType}}-{{name}}" 
    data-source="{{name}}" 
    data-formtype="{{formType}}" 
    data-basetemplate="{{baseTemplate}}" 
    style="margin-right: 0;"
>
    {{#if hasID}}
        <input type="hidden" name="{{@root.name}}.ID" data-name="ID" data-entity="ID" data-owner="{{@root.name}}" /> 
    {{/if}} 
    {{#d.results}} 
        {{#if spLoadObject}} 
        {{#if hidden}}
            {{#switch TypeAsString}} 
                {{#case "Lookup"}}
                    <input type="hidden" id="{{uiID}}"  
                        name="{{@root.name}}.{{Title}}"  
                        data-entity="{{EntityPropertyName}}Id"  
                        data-name="{{Title}}Id" 
                        data-owner="{{@root.name}}" 
                        data-spType="{{TypeAsString}}" value="{{currentParentID}}" 
                    /> 
                {{/case}} 
                {{#case "Attachments"}}
                    {{! Do not display Attachments as hidden}}
                {{/case}}
                {{#default}}
                    <input type="hidden" id="{{uiID}}" 
                        name="{{@root.name}}.{{Title}}"  
                        data-entity="{{EntityPropertyName}}" 
                        data-name="{{Title}}"
                        data-owner="{{@root.name}}"
                        data-spType="{{TypeAsString}}" value="{{currentParentID}}" 
                    /> 
                {{/default}} 
            {{/switch}}                
        {{else}}
            <div class="form-group 
                {{#switch TypeAsString}}
                    {{#case "Attachments" "File" }}
                        col-md-12
                    {{/case}}
                    {{#default}} 
                        {{#if hasBootstrapGridOverride}} {{bootstrapGridOverride}} {{else}} col-md-4 col-sm-12 col-lg-3 {{/if}}
                    {{/default}}
                {{/switch}}">
                
                {{#switch TypeAsString}} 
                    {{#case "Text" "Choice" "MultiChoice" "Lookup" "Note" "UserMulti" "Attachments" "File" "User" "DateTime" "Number" "Currency"}}     
                         {{#switch Title}} 
                            {{#case "Name" "Title" "zSequence" "zActive"}}   
                            {{/case}}
                            {{#default}} 
                                <label for="{{Title}}" style="width: 100%; 
                                    {{#ifCondition Title '== "Title"'}}
                                    {{#ifCondition formType '== "create"'}}
                                        Display:none;
                                    {{/ifCondition}}
                                    {{/ifCondition}}"
                                >
                                {{{replace Title '_' ' '}}}
                                {{#if Required}}
                                <span class="red-text">*</span>
                                {{/if}}
                                </label> 
                            {{/default}}
                        {{/switch}}                                   
                    {{/case}} 
                {{/switch}} 
                
                {{#switch TypeAsString}} 
                    {{#case "Text"}}
                        {{> spText}}                        
                                                                       
                    {{/case}} 
                    {{#case "Number"}}
                        {{> Number}}
                    {{/case}} 
                    {{#case "Currency" }} 
                        {{> Currency}} 
                    {{/case}} 
                    {{#case "MultiChoice"}} 
                        {{> MultiChoice}}                        
                    {{/case}} 
                    {{#case "Boolean"}}
                        {{> Boolean}}   
                    {{/case}} 
                    {{#case "Choice"}} 
                        {{> Choice}}
                    {{/case}}
                    {{#case "Lookup"}}
                        {{> Lookup}}
                    {{/case}}
                    {{#case "User" "UserMulti"}}
                        {{> spUserPicker}}
                    {{/case}}
                    {{#case "Note"}}
                        {{> spNote}} 
                    {{/case}}
                    {{#case "DateTime"}}
                         {{> spDateTime}}
                    {{/case}}
                    {{#case "Attachments" "File"}}
                        {{> spAttachment}}
                    {{/case}}
                    {{#case "Computed"}}
                    {{/case}}
                    {{#default}}{{TypeAsString}}{{/default}}
                {{/switch}}
                    
                <small id="{{@root.name}}.{{Title}}.Help" class="form-text text-muted"></small>
            </div>
        {{/if}}
        {{/if}}
    {{/d.results}}

    {{#if loadActionButtons}}
        {{#switch formType}}
            {{#case "edit"}}
                <button type="button" class="btn btn-primary save-data" data-owner="{{owner}}" data-source="{{name}}" data-sptype="{{spType}}" data-caller="form-{{formType}}-{{name}}" data-action="Update">Update Form</button> 
            {{/case}} 
            {{#case "view"}}
            {{/case}} 
            {{#default}}{{setVar "formType" "create"}}
                <button type="button" class="btn btn-primary save-data" data-owner="{{owner}}" data-source="{{name}}" data-sptype="{{spType}}" data-caller="form-{{formType}}-{{name}}" data-action="Save">Save Form</button>
                <button type="button" class="btn btn-success clear-data" data-owner="{{owner}}" data-source="{{name}}" data-sptype="{{spType}}" data-caller="form-{{formType}}-{{name}}" data-action="Reset">Reset Form</button> 
            {{/default}} 
        {{/switch}} 
    {{/if}}
</div>
