<div id="container_{{name}}">
    <h1>{{title}}</h1>
    <div id="tree_size_{{name}}">
        <ul>
            {{#d.results}}
                <li data-jstree='{"icon":"fa fa-file-o"}'>
                    <a href="#">ObjectName : <strong>{{Title}}</strong></a>
                    <ul>
                        <li data-jstree='{"icon":"fa fa-cog"}'>Type: {{TypeAsString}}</li>
                        {{#ifCondition TypeAsString ' == "Lookup"'}}
                            <li data-jstree='{"icon":"fa fa-sitemap"}'>Lookup Field: {{LookupField}}</li>
                        {{/ifCondition}}
                        <li data-jstree='{"icon":"fa fa-filter"}'>Filterable: {{Filterable}}</li>                            
                    </ul>
                </li>
            {{/d.results}}
        </ul>
    </div>
</div>