<ul class="nav nav-tabs" id="lf-item-container-{{name}}" role="lf-item-container-{{name}}">
    <li class="nav-item">
        <a class="nav-link datatable-link active" id="data-tab" data-toggle="tab" href="#lf-list-{{name}}"
            data-hastable="true" data-owner="{{name}}" data-tablename="{{name}}" role="tab" aria-controls="data-tab"
            aria-selected="true">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tree-tab" data-toggle="tab" href="#lf-tree-{{name}}" role="tab" aria-controls="tree-tab"
            aria-selected="false">Tree</a>
    </li>
    <li class="nav-item">
        <a class="nav-link grid-link" id="grid-tab" data-toggle="tab" href="#lf-grid-{{name}}" id="link-grid-{{name}}"
            role="tab" data-owner="{{name}}" aria-controls="grid-tab" aria-selected="false">Grid</a>
    </li>
</ul>
<div class="tab-content" id="lf-content-container-{{name}}" style="padding-top: 20px;">
    <div class="tab-pane fade show active" id="lf-list-{{name}}" role="tabpanel" aria-labelledby="data-tab">
        <div class="row no-horizontal-margin">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" id="spTable-wrap-{{name}}" style="padding-right: 0; padding-bottom: 20px;">{{> ../sp_table_template}}</div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-horizontal-padding" id="spActions-wrap-{{name}}"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="lf-tree-{{name}}" role="tabpanel" aria-labelledby="tree-tab">{{> ../sp_jstree_template}}</div>
    <div class="tab-pane fade " id="lf-grid-{{name}}" role="tabpanel" aria-labelledby="grid-tab">
        <div class="iframeContainer">
        </div>
    </div>
</div>