<div class="card">
    <div class="card-header" id="child-card-{{name}}">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChild-{{name}}" aria-expanded="true" aria-controls="collapseOne">
                        {{sectionName}}
                    </button>
                </h5>
            </div>
            <div class="col-md-8">
                {{#switch @root.action}} 
                    {{#case "edit"}}
                        <button type="button" class="btn btn-primary add-child" data-ownersource="{{source}}" data-source="{{@root.source}}" data-action="{{@root.action}}" data-sptype="{{@root.thisVar}}" data-owner="{{buttonOwner}}" data-container="child-card-body-{{name}}"><i class="fa fa-plus"></i> Add {{singular}}</button>
                    {{/case}} 
                {{/switch}}
            </div>
        </div>
    </div>
    <div id="collapseChild-{{name}}" class="collapse show" aria-labelledby="child-card-{{name}}" data-parent="">
        <div class="card-body" id="child-card-body-{{name}}">
            <ul>
                {{{html}}}
            </ul>
        </div>
    </div>
</div>